<style>
    img{
        width: 160px;
        height:160px;
        border-radius: 8px;
        border:2px solid rgb(25,135,84);
        padding: 6px;
        text-align: center;
    }
</style>
<div class="background">
    <div class="container">
        <nav class="navbar navbar-light ">
        <div class="container-fluid py-3  ">
            
            {{!-- <button class="btn  btn-lg btn-outline-success ms-auto " type="button"><a href="login.html">Login</a></button> --}}
        </div>
        
        </nav>

        <div class="about">
            <h1 class="text-center text-white py-5">About Us</h1>
            <p class="text-white text-center fs-5 px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure neque saepe fugiat, nihil, atque inventore vero ut voluptate modi maiores quae officiis dolore reiciendis consequuntur rerum esse quis iusto corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vero itaque culpa mollitia in perspiciatis, id commodi, necessitatibus omnis cum consequatur sit. Quas quisquam accusamus nemo porro enim? Nihil, distinctio?</p>
            <div class="row g-5 pt-5">
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="images/dipesh.jpg" alt="">

                    </div>
                    <h3 class="text-white pt-3 text-center">Dipesh Joshi</h3>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="images/pratirodh.jpeg" alt="">

                    </div>
                    <h3 class="text-white pt-3 text-center">Pratirodh Sharma Pokharel </h3>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="images/sushant.jpeg" alt="">

                    </div>
                    <h3 class="text-white pt-3 text-center">Sushant Tha</h3>
                </div>
            </div>
        </div>
        {{!-- <p class="text-white fw-light text-center pt-3">&copy; 2022 Realtime Face Recognition System | All Rights Reserved</p> --}}
    </div>

</div>