<div class="background">
    <div class="container">
    <nav class="navbar navbar-light ">
        <div class="container-fluid py-3  ">
        <button class="btn btn-lg btn-outline-success ms-auto" type="button"><a href="/aboutus">About Us</a></button>
        {{!-- <button class="btn  btn-lg btn-outline-success ms-3 " type="button"><a href="/login">Login</a></button> --}}
        </div>
        
    </nav>
    <div class="content text-white text-center">
        <h1 class="click ">Realtime Face Recognition System
        </h1>
        <h4 class="py-3 fs-4 fw-light">For Security Purpose</h4>
        <button class="btn mt-3 btn-lg btn-outline-success fs-2 py-1 px-4 " type="button" ><a  href="recognizeface">Capture Video</a></button>

    </div>
    </div>
</div>